@media (max-width: 600px) {
    header nav {
        flex-direction: column;
    }

    .header-title {
        padding: 0.5em 0;
    }


    .our-dogs ul li img {
        width: 200px;
        height: 200px;
        padding-top: 0.5em;
    }

    .helpNeed ul {
        flex-direction: column;
    }
}