.flex-container {
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
}

.flex-direction-row {
    display: flex;
    flex-direction: row;
}


.flex-direction-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
}

.flex-direction-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.flex-item {
    background: #eee;
    padding: 20px;
    border: 2px solid #000;

}