
div.content p {
    border: 2px dashed rgb(2, 2, 163);
    text-align: center;
    background: rgb(125, 125, 237);
    padding: 10px;
}
.padding {
    border: 2px dashed blue;
    padding: 20px;
    background: greenyellow;
    margin: 20px;
}

.border {
    border: 2px dashed blue;
    padding: 20px;
    background: rgb(255, 224, 47);
    margin: 20px;
}



.margin {
    border: 2px dashed blue;
    padding: 20px;
    background: rgb(203, 150, 4);
    margin: 20px;
}

p {
    position: relative;
    top: -20px;
}