body {
    font-family: Lato, sans-serif;
}

.img-banner {
    display: flex;
    justify-content: center;
    

}

.img-banner img {
    position: absolute;
    width: 100%;
    max-height: 600px;
    min-height: 300px;
    background-size: 100%;
    background-position: center;
    text-align: center;
}


header {
    position: absolute;
    z-index: 1;
    color: aliceblue;
    top: 30%
}

h1, h2 {
    text-align: center;
    line-height: 1.5;
    text-shadow: 1px 1px black;
}

h2 {
    color: rgb(237, 249, 249);
    font-weight: 400;
}